<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HOL_.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <userSettings>
        <HOL_.My.MySettings>
            <setting name="EMPLOYEE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LAST_CODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TXT_NUM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TXT_GROUB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MSO" serializeAs="String">
                <value/>
            </setting>
            <setting name="CONNECTION" serializeAs="String">
                <value>192.168.30.151,1433</value>
            </setting>
            <setting name="EMP_NAME" serializeAs="String">
                <value/>
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value>Admin@1234</value>
            </setting>
            <setting name="RANDOOM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VAILD_USER" serializeAs="String">
                <value>0</value>
            </setting>
        </HOL_.My.MySettings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
</configuration>
